.about-me {
  background-color: #dcd6f7;
  padding: 2rem 5%; 
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.about-me h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center; 
}

.about-me p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  max-width: 800px; 
  text-align: center;
}
