.projects {
  padding: 2rem;
  background-color: #f7f7f7; /* Light gray background for contrast */
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center; /* Center the text */
}

.project {
  margin-bottom: 2rem;
  border: 1px solid #e0e0e0; /* Light border */
  padding: 1rem;
  border-radius: 8px; /* Rounded corners */
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center; /* Center the text */
}
